@charset "UTF-8";
.advantage .inner .tabs .tabs-cont, .endurance .list ul, .article .inner .tabs .tabs-cont .tab-left {
    *zoom: 1;
}

.advantage .inner .tabs .tabs-cont:before, .endurance .list ul:before, .article .inner .tabs .tabs-cont .tab-left:before, .advantage .inner .tabs .tabs-cont:after, .endurance .list ul:after, .article .inner .tabs .tabs-cont .tab-left:after {
    content: "";
    display: table;
}

.advantage .inner .tabs .tabs-cont:after, .endurance .list ul:after, .article .inner .tabs .tabs-cont .tab-left:after {
    clear: both;
}

.article .inner .tabs .tabs-cont .tab-left .list a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

html, body {
    color: #000;
}

.banner {
    width: 100%;
    height: 652px;
    background: #fff;
}

.banner .cont {
    margin: 0 auto;
    width: 1250px;
    position: relative;
}

.banner .cont .cont-left {
    float: left;
    margin: 285px 0 0 0;
    text-align: left;
    margin-left: 50px;
}

.banner .cont .cont-left h5 {
    color: #373737;
    font-size: 50px;
    font-weight: normal;
}

.banner .cont .cont-left h6 {
    font-size: 22px;
    font-weight: normal;
    margin: 30px 0 20px 0;
    color: #777777;
    opacity: 0.7;
}

.banner .cont .cont-left p {
    letter-spacing: 0.6px;
    color: #bfc4d9;
    font-size: 16px;
    margin-bottom: 5px;
}

.banner .cont .cont-left .banButton {
    zoom: 1;
}

.banner .cont .cont-left .banButton::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.banner .cont .cont-left .use {
    display: block;
    width: 110px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    float: left;
    margin-right: 22px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.banner .cont .cont-left .use:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.banner .cont .cont-left .lxkf {
    display: block;
    width: 110px;
    height: 45px;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    border: 1px solid #ffc133;
    color: #ffc133;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    float: left;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.banner .cont .cont-left .lxkf:hover {
    box-shadow: 2px 2px 6px 2px rgba(255, 193, 51, 0.2);
}

.banner .cont .cont-left .cont_left_bz {
    font-size: 14px;
    color: #777777;
    margin-top: 20px;
    opacity: .5;
}

.banner .cont .cont-right {
    margin: 40px 0 0 -80px;
    width: 800px;
    height: 750px;
    background: url("../img/index/banner1.gif") no-repeat center;
    background-size: contain;
    text-align: center;
    position: absolute;
    right: -100px;
}

.inner {
    margin: 0 auto;
    width: 1200px;
}

.inner .tit {
    text-align: center;
    box-sizing: border-box;
}

.inner .tit .subject {
    color: #3c3c3c;
    font-size: 48px;
    margin: 0 auto 10px;
    font-weight: bold;
}

.inner .tit .subhead {
    color: #666666;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
}

.inner .flow {
    width: 100%;
    height: 420px;
}

.inner .flow .flow1c {
    margin-left: 80px;
    float: left;
    width: 278px;
    height: 398px;
}

.inner .flow .flow1c .flow1 {
    font-size: 14px;
    width: 100%;
    height: 100%;
    background: url("../img/index/bg1.png") no-repeat center;
}

.inner .flow .flow1c:hover .flow1 {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.inner .flow .flow1c h1 {
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
}

.inner .flow .flow1c h2 {
    font-size: 21px;
    text-align: left;
    padding-left: 60px;
    padding-top: 40px;
}

.inner .flow .flow1c p {
    text-align: left;
    background: url("../img/index/yes.png") no-repeat 50px;
    background-size: 13px 10px;
    padding-left: 70px;
    margin-top: 10px;
}

.inner .flow .flow1c .custom-made {
    display: block;
    margin: 30px auto 150px auto;
    line-height: 40px;
    cursor: pointer;
    width: 108px;
    height: 40px;
    background-color: #ffc133;
    border-radius: 22px;
    color: #ffffff;
    font-size: 16px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.inner .flow .flow1c .custom-made:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.pre11 {
    width: 100%;
    margin-bottom: 40px;
    position: fixed;
    bottom: -40px;
    z-index: 999;
}

.pre11 .qq_link {
    height: 327px;
    cursor: pointer;
}

.advantage {
    padding-bottom: 100px;
    margin-top: 100px;
    box-sizing: border-box;
}

.advantage .inner .tit {
    margin-bottom: 80px;
}

.advantage .inner .tabs .tabs-options {
    border-bottom: 1px solid #62d5cc;
    position: relative;
}

.advantage .inner .tabs .tabs-options li {
    width: 296px;
    text-align: center;
    display: inline-block;
    padding-bottom: 45px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-size: 30px;
}

.advantage .inner .tabs .tabs-options li.active {
    border-bottom: 2px solid #62d5cc;
    color: #62d5cc;
}

.advantage .inner .tabs .tabs-options .bottomLine {
    width: 0px;
    height: 2px;
    background: #62d5cc;
    position: absolute;
    bottom: 0px;
}

.advantage .inner .tabs .tabs-cont .tab-left {
    float: left;
    margin: 80px 0 0 48px;
}

.advantage .inner .tabs .tabs-cont .tab-right {
    float: left;
    text-align: left;
    margin: 120px 0 0 116px;
}

.advantage .inner .tabs .tabs-cont .tab-right .text {
    color: #3c3c3c;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 60px;
}

.advantage .inner .tabs .tabs-cont .tab-right p {
    width: 500px;
    color: #666666;
    font-size: 24px;
    line-height: 35px;
}

.node {
    background: #fff;
    position: relative;
    padding-bottom: 128px;
    box-sizing: border-box;
}

.node .map {
    margin: 90px auto 0;
    position: relative;
}

.node .map .map-img {
    width: 996px;
    height: 531px;
}

.node .map #zhmap li a img {
    display: inline-block;
    width: 20px;
    height: 23px;
}

.node .map #zhmap .a10 {
    position: absolute;
    left: 79%;
    top: 34%;
}

.node .map ul .a1 {
    position: absolute;
    left: 46%;
    top: 25%;
}

.node .map ul .a2 {
    position: absolute;
    left: 45%;
    top: 17%;
}

.node .map ul .a3 {
    position: absolute;
    left: 20%;
    top: 28%;
}

.node .map ul .a4 {
    position: absolute;
    left: 70%;
    top: 37%;
}

.node .map ul .a5 {
    position: absolute;
    left: 54.2%;
    top: 56%;
}

.node .map ul .a6 {
    position: absolute;
    left: 70.5%;
    top: 48%;
}

.node .map ul .a7 {
    position: absolute;
    left: 20%;
    top: 14%;
}

.node .map ul .a8 {
    position: absolute;
    left: 68%;
    top: 13%;
}

.node .map ul .a9 {
    position: absolute;
    left: 34%;
    top: 64%;
}

.node .map ul .a11 {
    position: absolute;
    left: 65%;
    top: 47%;
}

.node .map ul .a12 {
    position: absolute;
    left: 56%;
    top: 71%;
}

.node .map ul .a13 {
    position: absolute;
    left: 55%;
    top: 33%;
}

.node .look-more {
    width: 201px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-top: 30px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.node .look-more:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.system {
    box-sizing: border-box;
}

.system .flow {
    margin: 70px auto 20px;
    text-align: center;
}

.system .flow img {
    width: 1199px;
    height: 122px;
}

.system .list {
    margin: 0 auto;
    text-align: center;
}

.system .list ul {
    display: flex;
    justify-content: flex-start;
}

.system .list ul li {
    width: 250px;
    text-align: center;
}

.system .list ul li:first-child {
    margin-right: 50px;
    width: 170px;
}

.system .list ul li:nth-child(2) {
    margin-left: 20px;
}

.system .list ul li:nth-child(3) {
    margin-left: 46px;
}

.system .list ul li:nth-child(4) {
    margin-right: 49px;
}

.system .list ul li:last-child {
    width: 150px;
}

.system .list ul li .suj {
    color: #333;
    font-size: 22px;
    font-weight: bold;
}

.system .list ul li .suh {
    margin-top: 10px;
    color: #999999;
    font-size: 16px;
    text-align: center;
}

.system .list .custom-made {
    display: block;
    margin: 60px auto 150px auto;
    line-height: 45px;
    cursor: pointer;
    width: 201px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    color: #ffffff;
    font-size: 18px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.system .list .custom-made:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.endurance {
    margin-top: 150px;
    padding-bottom: 90px;
    box-sizing: border-box;
}

.endurance .list ul {
    margin-top: 63px;
}

.endurance .list ul li {
    float: left;
    padding-top: 175px;
    box-sizing: border-box;
    width: 354px;
    height: 446px;
    background: url("../img/index/icon09.png");
}

.endurance .list ul li:nth-child(2) {
    margin: 0 60px;
    background: url("../img/index/icon10.png");
}

.endurance .list ul li:nth-child(3) {
    background: url("../img/index/icon11.png");
}

.endurance .list ul li .word {
    margin: 0 auto;
    width: 214px;
    text-align: center;
    position: relative;
}

.endurance .list ul li .word .tits {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
}

.endurance .list ul li .word p {
    margin-top: 24px;
    color: #999999;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
}

.endurance .list ul li .word a {
    display: inline-block;
    width: 111px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    font-size: 16px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
    margin: 24px auto 0;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.endurance .list ul li .word a:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.article {
    padding-bottom: 100px;
    box-sizing: border-box;
}

.article .tit {
    text-align: center;
    padding-top: 70px;
    box-sizing: border-box;
}

.article .tit .subject {
    color: #3c3c3c;
    font-size: 48px;
    margin: 0 auto 10px;
    font-weight: bold;
}

.article .tit .subhead {
    color: #666666;
    font-size: 22px;
    height: 40px;
    line-height: 40px;
}

.article .inner {
    margin-top: 30px;
    width: 1200px;
    height: 610px;
    background: url("../img/index/art-bg.png") no-repeat center;
}

.article .inner .tabs .tabs-options {
    width: 1180px;
    border-bottom: 1px solid #62d5cc;
    position: relative;
    line-height: 69px;
}

.article .inner .tabs .tabs-options li {
    font-size: 18px;
    width: 33.09%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.article .inner .tabs .tabs-options li.active {
    border-bottom: 2px solid #62d5cc;
    color: #62d5cc;
}

.article .inner .tabs .tabs-options .bottomLine {
    width: 0px;
    height: 2px;
    background: #62d5cc;
    position: absolute;
    bottom: 0px;
}

.article .inner .tabs .tabs-cont {
    display: none;
}

.article .inner .tabs .tabs-cont .tab-left {
    margin: 60px 0 0 48px;
    height: 368px;
    overflow: hidden;
}

.article .inner .tabs .tabs-cont .tab-left .list {
    font-size: 0;
    margin-bottom: 30px;
    float: left;
    margin-right: 132px;
    text-align: left;
}

.article .inner .tabs .tabs-cont .tab-left .list:hover a {
    color: #62d5cc;
}

.article .inner .tabs .tabs-cont .tab-left .list:hover span {
    color: #62d5cc;
}

.article .inner .tabs .tabs-cont .tab-left .list a {
    display: inline-block;
    width: 280px;
    font-size: 18px;
    color: #666;
    margin-right: 25px;
    margin-left: 40px;
}

.article .inner .tabs .tabs-cont .tab-left .list span {
    display: inline-block;
    font-size: 16px;
    color: #999;
    position: relative;
    top: -12px;
}

.article .inner .tabs .tabs-cont .look {
    display: inline-block;
    width: 161px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.article .inner .tabs .tabs-cont .look:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

#fadeInDown {
    -webkit-animation: fadeInDown 1s .2s ease both;
    -moz-animation: fadeInDown 1s .2s ease both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

#fadeInUp {
    -webkit-animation: fadeInUp 1s .2s ease both;
    -moz-animation: fadeInUp 1s .2s ease both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

.sycj {
    background: #fff;
    overflow: hidden;
}

.sycj > h5 {
    font-size: 34px;
    color: #333333;
    line-height: 60px;
    margin-top: 60px;
}

.sycj > p {
    font-size: 22px;
    color: #666666;
    margin-bottom: 95px;
}

.sycj .main_scenc {
    width: 1201px;
    margin: 0 auto;
    /*轮播*/
}

.sycj .main_scenc .boxs {
    width: 100%;
    height: 502px;
    background: url("../img/index/card-box.png") no-repeat center;
    background-size: cover;
}

.sycj .main_scenc .boxs .lefts {
    text-align: left;
    float: left;
    margin: 80px 0 0 70px;
}

.sycj .main_scenc .boxs .lefts h6 {
    color: #3c3c3c;
    font-size: 44px;
}

.sycj .main_scenc .boxs .lefts p {
    width: 455px;
    line-height: 57px;
    color: #666666;
    font-size: 24px;
}

.sycj .main_scenc .boxs .lefts a {
    display: block;
    width: 111px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.sycj .main_scenc .boxs .lefts a:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.sycj .main_scenc .boxs .rights {
    float: right;
    margin: 64px 19px 0 0;
}

.sycj .main_scenc .boxs2 {
    width: 100%;
    height: 502px;
    background: url("../img/index/card-box.png") no-repeat center;
    background-size: cover;
}

.sycj .main_scenc .boxs2 .lefts {
    float: left;
    margin: 2px 19px 0 0;
}

.sycj .main_scenc .boxs2 .rights {
    float: right;
    text-align: left;
    margin: 80px 40px 0 0;
}

.sycj .main_scenc .boxs2 .rights h6 {
    color: #3c3c3c;
    font-size: 44px;
}

.sycj .main_scenc .boxs2 .rights p {
    width: 455px;
    line-height: 57px;
    color: #666666;
    font-size: 24px;
}

.sycj .main_scenc .boxs2 .rights a {
    display: block;
    width: 111px;
    height: 45px;
    background-color: #ffc133;
    border-radius: 22px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.sycj .main_scenc .boxs2 .rights a:hover {
    box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.sycj .main_scenc .swiper-pagination-bullet {
    width: 580px;
    height: 8px;
    background: none;
    border-radius: unset;
    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.sycj .main_scenc .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #5ecfe3;
}

.mt-number-animate {
    box-sizing: border-box;
    font-family: '微软雅黑';
    line-height: 36px;
    height: 36px;
    /*设置数字显示高度*/
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    /*设置数字大小*/
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.mt-number-animate .mt-number-animate-dot {
    width: 15px;
    /*设置分割符宽度*/
    line-height: 36px;
    float: left;
    color: #fff;
    text-align: center;
}

.mt-number-animate .mt-number-animate-dom {
    width: 30px;
    /*设置单个数字宽度*/
    text-align: center;
    float: left;
    position: relative;
    top: 0;
}

.mt-number-animate .mt-number-animate-dom .mt-number-animate-span {
    width: 100%;
    float: left;
    margin-left: 5px;
}

.service-modal {
    position: fixed;
    width: 380px;
    display: none;
    z-index: 9999;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, calc(-50% - 40px));
    -ms-transform: translate(0, calc(-50% - 40px));
    -moz-transform: translate(0, calc(-50% - 40px));
    transform: translate(0, calc(-50% - 40px));
    left: calc(50% - 185px);
    top: 50%;
    height: 252px;
}

.service-modal.active {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.service-modal .modal-main {
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid #d0d1d2;
    border-radius: 5px;
}

.service-modal .modal-main > .close {
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    position: absolute;
    right: 10px;
    cursor: pointer;
    top: 10px;
    background: center no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAMAAADarb8dAAAAS1BMVEUAAACIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaTRp9kAAAAGHRSTlMAB/gaDfDXy8Czq6V1ZUk8MRO+1Fm/VlW2QlyfAAAAcklEQVQI121PWw6AIAwrbCLiG1+9/0mVEIxG+9UuTddC/IQbU1BEVmPRY8UAcbRD1oPlIsBc065J75b1nIh6sgd6Mmq2mobsOrIxJcy0vNAmXS6OdAC+jv8M3coXr0DucSSy5h6yPJs6QXhvidDwXOvlBGd3BtaWvk7vAAAAAElFTkSuQmCC");
}

.service-modal .modal-main > .ewm {
    width: 270px;
    height: 270px;
    margin: 45px auto 12px;
}

.service-modal .modal-main > .tips {
    font-size: 20px;
    color: #353535;
    margin-bottom: 15px;
}

.service-modal .modal-main .or {
    font-size: 18px;
    color: #999;
    margin-bottom: 5px;
}

.service-modal .modal-main .qq {
    margin-bottom: 30px;
}

.avtiveIndBot {
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: url(../img/active/index-bg.png) no-repeat center;
    background-size: 100% 100%;
}

.avtiveIndBot .close {
    position: absolute;
    right: 200px;
    top: 27px;
    cursor: pointer;
}

.avtiveIndBot a {
    display: block;
    width: 100%;
    height: 100%;
}

.service-modal {
    position: fixed;
    width: 370px;
    display: none;
    z-index: 9999;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, calc(-50% - 40px));
    -ms-transform: translate(0, calc(-50% - 40px));
    -moz-transform: translate(0, calc(-50% - 40px));
    transform: translate(0, calc(-50% - 40px));
    left: calc(50% - 185px);
    top: 50%;
    height: 252px;
}

.service-modal.active {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.service-modal .modal-main {
    position: relative;
    width: 100%;
    display: block;
    box-sizing: border-box;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid #d0d1d2;
}

.service-modal .modal-main > .sem-top {
    position: relative;
    width: 100%;
    height: 64px;
    line-height: 64px;
    box-sizing: border-box;
    padding-left: 50px;
    color: #222;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    border-bottom: 1px solid #d0d1d2;
}

.service-modal .modal-main > .sem-top .close {
    width: 40px;
    height: 40px;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    position: absolute;
    right: 20px;
    cursor: pointer;
    top: calc(50% - 20px);
    background: center no-repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAMAAADarb8dAAAAS1BMVEUAAACIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaIkaaTRp9kAAAAGHRSTlMAB/gaDfDXy8Czq6V1ZUk8MRO+1Fm/VlW2QlyfAAAAcklEQVQI121PWw6AIAwrbCLiG1+9/0mVEIxG+9UuTddC/IQbU1BEVmPRY8UAcbRD1oPlIsBc065J75b1nIh6sgd6Mmq2mobsOrIxJcy0vNAmXS6OdAC+jv8M3coXr0DucSSy5h6yPJs6QXhvidDwXOvlBGd3BtaWvk7vAAAAAElFTkSuQmCC");
}

.service-modal .modal-main > .sem-top span a {
    color: #004d74;
}

.service-modal .modal-main .sem-body {
    height: 120px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 0 0 135px;
    background: url("../img/service-icon-qq.jpg") no-repeat 25px center;
}

.service-modal .modal-main .sem-body h4 {
    line-height: 42px;
    font-size: 22px;
    color: #222;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: left;
}

.service-modal .modal-main .sem-body p {
    line-height: 24px;
    color: #aaa;
    font-size: 14px;
    text-align: left;
}

.service-modal .modal-main .sem-bot {
    height: 40px;
    line-height: 40px;
    display: block;
    text-align: center;
    margin: 5px auto 20px;
}

.service-modal .modal-main .sem-bot .sem-btn {
    width: 160px;
    height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    color: #8891a6;
    font-size: 14px;
    box-sizing: border-box;
    border: 1px solid #d0d1d2;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service-modal .modal-main .sem-bot .sem-btn:hover {
    color: #333;
    background: #eee;
}

.service-modal .modal-main .sem-bot .sem-btn.submit {
    background: #004d74;
    color: #fff;
    border: 1px solid #004d74;
}

.service-modal .modal-main .sem-bot .sem-btn.submit:hover {
    background: #002b41;
    border: 1px solid #002b41;
}

.service-modal .modal-main .sem-bot .sem-btn.cancel:hover .wxse {
    display: block;
}

.service-modal .modal-main .sem-bot .sem-btn.cancel .wxse {
    display: none;
    width: 137px;
    position: absolute;
    top: 22px;
    border: 1px solid #DDDDDD;
    padding: 10px;
    background: #fff;
}

.service-modal .modal-main .sem-bot .sem-btn.cancel .wxse:after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #DDDDDD;
    bottom: -8px;
    left: 79px;
}

.service-modal .modal-main .sem-bot .sem-btn.cancel .wxse img {
    width: 100%;
}

.qqTanC {
    border: 1px solid #d0d1d2;
    position: fixed;
    top: 36%;
    left: 37.9%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 440px;
    height: 245px;
    z-index: 99;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-animation-name: fadeInDowntc;
    animation-name: fadeInDowntc;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeInDowntc;
    animation-name: fadeInDowntc;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.qqTanC .tcleft {
    width: 176px;
    height: 247px;
    background: url("../img/freicon.png") no-repeat center;
    background-size: cover;
    text-align: left;
}

.qqTanC .tcleft h2 {
    margin-top: 60px;
    color: #ffffff;
    text-align: left;
    padding-left: 14px;
}

.qqTanC .tcleft p {
    margin-top: 10px;
    padding-left: 14px;
    font-size: 14px;
    color: #fff;
    text-align: left;
}

.qqTanC .tcleft a {
    display: inline-block;
    width: 92px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    color: #499dac;
    margin-top: 20px;
    background: #ffffff;
    border-radius: 6px;
    margin-left: 14px;
    text-align: center;
}

.qqTanC .tcright {
    width: 300px;
}

.qqTanC .linkButton {
    position: relative;
}

.qqTanC .linkButton a {
    display: inline-block;
    width: 76px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #000000;
    margin-top: 20px;
}

.qqTanC .linkButton .qk {
    width: 90px;
    border: 1px solid #d0d1d2;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 30px;
    color: #fff;
    background: url("../img/qqw.png") no-repeat 20px;
    background-color: #499dac;
    padding-left: 14px;
}

.qqTanC .linkButton .wk {
    width: 90px;
    position: relative;
    border-radius: 4px;
    background: #62d5cc;
    border: none;
    color: #499dac;
    border: 1px solid #499dac;
    background-color: #ffffff;
    background: url("../img/wxg.png") no-repeat 16px 5px;
    padding-left: 14px;
    cursor: pointer;
}

.qqTanC .linkButton .wk:hover > .kf-show {
    display: block;
}

.qqTanC .linkButton .wk .kf-show {
    display: none;
    width: 176px;
    line-height: 26px;
    background-color: #ffffff;
    box-shadow: 0px 8px 22px 2px rgba(0, 0, 0, 0.24);
    padding: 16px 10px 10px 13px;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    z-index: 999;
    border-radius: 5px;
}

.qqTanC .linkButton .wk .kf-show:after {
    display: block;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    left: 33px;
}

.qqTanC .linkButton .wk .kf-show .p1,
.qqTanC .linkButton .wk .kf-show .p2 {
    color: #666666;
    font-size: 12px;
}

.qqTanC .linkButton .wk .kf-show .p1 > a,
.qqTanC .linkButton .wk .kf-show .p2 > a {
    color: #666;
}

.qqTanC .linkButton .wk .kf-show .p2 {
    cursor: default;
}

.qqTanC .linkButton .wk .kf-show .img {
    text-align: center;
    cursor: default;
}

.qqTanC .linkButton .wk .kf-show .img img {
    width: 100px;
    height: 100px;
}

.qqTanC .linkButton .wk .kf-show .words {
    text-align: center;
    cursor: default;
}

.qqTanC .linkButton .wk .kf-show .words a {
    display: inline-block;
    width: 80px;
    height: 28px;
    background-color: #2e418d;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}

.qqTanC .linkButton .wk .kf-show .words .p3 {
    color: #666666;
}

.qqTanC .ptit {
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 46px;
    text-align: center;
    border-bottom: 1px solid #d0d1d2;
    text-align: left;
}

.qqTanC .qqcontent {
    margin-top: 16px;
    padding-right: 20px;
}

.qqTanC .qqcontent .qb {
    font-size: 22px;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
}

.qqTanC .qqcontent .qw {
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
    color: #aaa;
}

.qqTanC .qqIcon {
    width: 80px;
    height: 80px;
    background: url("../img/index/qqicon.jpg") no-repeat center;
    background-size: cover;
    float: left;
}

.qqTanC .qqInfo {
    width: 240px;
    height: 112px;
    margin: 0 auto;
    background: #f5f9fd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
}

.qqTanC .qqInfo span {
    font-size: 12px;
    width: 45%;
    padding-left: 10px;
    text-align: left;
    background: url("../img/dui.png") no-repeat left;
    color: #499dac;
}

.qqTanC .close {
    position: absolute;
    right: 24px;
    top: 14px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.qqTanC .close:before,
.qqTanC .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.qqTanC .close:before {
    transform: rotate(45deg);
}

.qqTanC .close:after {
    transform: rotate(-45deg);
}

@keyframes fadeInDowntc {
    0% {
        opacity: 0;
    }
    78% {
        opacity: 0;
        /* transform: scale(0.3); */
    }
    100% {
        opacity: 1;
        /* transform: scale(0.3); */
    }
}

.sdchappy {
    width: 100%;
    cursor: pointer;
    position: absolute;
    top: 1%;
    z-index: 999999999999;
    overflow: hidden;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        -ms-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
    40% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        /* transform: scale(0.3); */
    }
    70% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        /* transform: scale(0.3); */
    }
    100% {
        opacity: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        display: none;
        z-index: -9;
        /* transform: scale(0.3); */
    }
}


.buyTanC {
    border: 1px solid #d0d1d2;
    position: fixed;
    top: 20%;
    left: 30%;
    display: none;
    width: 800px;
    height: 400px;
    z-index: 99;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
}


.buyTanC .close {
    position: absolute;
    right: 24px;
    top: 14px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.buyTanC .close:before,
.buyTanC .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.buyTanC .close:before {
    transform: rotate(45deg);
}

.buyTanC .close:after {
    transform: rotate(-45deg);
}
.buyTanC h3{
    color: #3091fe;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 5px;
}
.buyTanC .payType{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
}
.buyTanC .pay-item h4{
    font-size: 28px;
    color: #62d5cc;
    margin-bottom: 10px;
}
.buyTanC .pay-item .text{
    font-size: 24px;
    color:#564c3d;
}
.buyTanC .payType img{
    width: 250px;
}



.acpre11 {
    width: 400px;
}

.acpre11 .big {
    float: left;
    margin-left: 40px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    animation: jumpTopsd 1.8s ease-in-out infinite alternate-reverse;
}

.acpre11 .small {
    float: right;
    float: left;
}

@keyframes jumpTopsd {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
}

.sdrightimg img {
    -webkit-animation-name: jumpTopRig;
    animation-name: jumpTopRig;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes jumpTopRig {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0px);
    }
}

/*# sourceMappingURL=index.css.map */
